html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Navbar */

.logo {
  height: auto;
  width: 22.34%;
}

.carritoDeCompras {
  width: auto;
  height: 100%;
  margin-top: -10%;
}

.container {
  background-color: #E5C552;
}
.container ul li{
  list-style: none;
  padding: 30px;
}

.container ul{
  display: flex;
  float: right;
  margin-top: -5.5%;
  margin-left: -15% !important;
  font-size: 25px;
}

.container ul li a {
  text-decoration: none;
  color: #000;
  font-family: 'Josefin Sans', sans-serif;
}

.container ul li a:hover {
  color: #fff;
}

/* Nosotros */
.NosotrosPart {
  height: auto;
  width: 100%;
}

#NosotrosPart {
  margin-left: 45%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
}
.circleOfNosotros {
  box-shadow: #000 0px 3px 5px 0px ;
  border-radius: 1000px;
  border-color: #d03737;
  width: 1.5%;
}

.circulos {
  margin-left: 48.5%;
  margin-top: -2%;
}

.textNosotros {
  margin-top: 2%;
  margin-left: 10%;
}

.NosotrosPart p {
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

.pizza {
  width: 20%;
  float: right;
  margin-top: -25%;
  margin-right: 5%;
}
.pizzaEntera {
  width: 100%;
}

.pizza h2 {
  font-size: 50px;
  text-align: center;
  color: #d03737;
  margin-top: -5%;
}

.pizza h3 {
  font-size: 25px;
  text-align: center;
  color: #E5C552;
  margin-top: -15%;
}

/* Ubicanos  */

.UbicanosPart {
  height: auto;
  width: 100%;
  margin-top: 5%;
}

#UbicanosPart {
  margin-left: 45%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
}

.circleOfUbicanos {
  box-shadow: #000 0px 3px 5px 0px ;
  border-radius: 1000px;
  border-color: #d03737;
  width: 1%;
}

.mapa {
  margin-top: 2%;
  margin-left: 28.5%;
}

/*footer*/

footer {
  background-color: #E5C552;
  padding-top: 40px;
  margin-top: 40px;
}

footer .container-footer > div {
  color: #000000;
  padding: 0px ;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  footer .container-footer > div {
    width: 33.3%;
    float: left;
  }
}

footer h5 {
  color: #000000;
  font-family: 'Josefin Sans', sans-serif;
}

footer div.container-footer p {
  font-size: 19px;
}

footer h5 {
  border-bottom: 5px solid #fe4918;
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h4 {
  padding-bottom: 10px;
}

.footerSection1 ul li img{
  width: 30px;
  height: auto;
  padding-bottom: 10px;
}

.footerSection1 ul {
  list-style: none;
}

.footerSection3 {
  width: 359px !important;
  padding-right: 6.67% !important;
  margin-top: -5%;
}

.footerSection1 {
  width: 325px !important;
  padding-left: 8.49% !important;
  margin-top: -5%;
}

.footerSection2 {
  width: 245px !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  margin-top: -5%;
}

.footerSection1 ul li p{
  margin-left: 18%;
  margin-top: -16.5%;
}

.footerSection1 ul li {
  margin-left: 20%;
}

.pWhats {
  margin-top: -18% !important;
}

.pInst {
  margin-top: -18% !important;
}

.facebook {
  margin-bottom: -2%;
}

.WhatsApp {
  margin-top: -2%;
}

.footerSection2 p {
  width: 500px !important;
  text-align: center;
  margin-left: -53%;
}

.footerSection3 p {
  text-align: center;
}

.redesSociales {
  margin-top: -3%;
}

.developers {
  margin-top: -1%;
  padding-bottom: 0px;
}